<!DOCTYPE html>
<html>
    <head>
        <title>My Web Page</title>
    </head>
    <body bgcolor="AntiqueWhite">
        <h1 style="color: rgb(49, 9, 9);background: rgb(149, 197, 4); 
                  text-align: center;">Taking Data from views.py using Variable Tag</h1>  
        <h2 style="text-align: center;">Employee Id is <u>{{ id }}</u></h2>
        <h2 style="text-align: center;">Employee Name is <u>{{ name }}</u></h2>
        <h2 style="text-align: center;">Employee Salary is <u>{{ salary }}</u></h2>
        <h2 style="text-align: center;">Employee Designation is <u>{{ designation }}</u></h2>
        <h2 style="text-align: center;">Employee Componey Name is <u>{{ componey }}</u></h2>
        
    </body>
</html>