{% extends 'common/common.html' %}

{% block menu%}
    {% include 'common/menu.html' %}
{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col">
                <form action="{% url 'student_registration' %}" method="post">
                    {% csrf_token %}
                <table align="center" border="2">
                    <tr>
                        <th>
                            <h3>Student Registration</h3>
                        </th>
                    </tr>
                    <tr>
                        <td>
                             <input
                                     type="text"
                                     placeholder="Name"
                                     name="student_name"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                     <tr>
                        <td>
                             <input
                                     type="tel"
                                     placeholder="Contact No"
                                     name="student_contact"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                     <tr>
                        <td>
                             <input
                                     type="email"
                                     placeholder="Email"
                                     name="student_email"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                     <tr>
                        <td>
                             <input
                                     type="password"
                                     placeholder="Password"
                                     name="student_password"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </th>
                    </tr>
                    {% if message %}
                    <tr>
                        <th>{{ message }}</th>
                    </tr>
                    {% endif %}
                </table>
                </form>
            </div>
            <div class="col">
                <form action="" method="post">
                <table align="center" border="2">
                    <tr>
                        <th>
                            <h3>Student Login</h3>
                        </th>
                    </tr>
                    <tr>
                        <td>
                             <input
                                     type="email"
                                     placeholder="Email"
                                     name="student_email"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                     <tr>
                        <td>
                             <input
                                     type="password"
                                     placeholder="Password"
                                     name="student_password"
                                     class="form-control"
                                     aria-label="Sizing example input"
                                     aria-describedby="inputGroup-sizing-default">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <button type="submit" class="btn btn-primary">
                                Login
                            </button>
                        </th>
                    </tr>

                </table>
                </form>
            </div>
        </div>
    </div>

{% endblock %}