{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<body>
    <table align="center" border="2">
        <tr>
            <th colspan="2">
                <h1>User Registration</h1>
            </th>
        </tr>
        <tr>
            <th>Name</th>
            <td>
                <input type="text" name="t1" required>
            </td>
        </tr>
        <tr>
            <th>Surname</th>
            <td>
                <input type="text" name="t2" required>
            </td>
        </tr>
         <tr>
                <th>User Type</th>
                <th>
                    <select name="Type" id="t3">
                      <option value="Admin">Admin</option>
                      <option value="Employee">Employee</option>
                      <option value="Manager">Manager</option>
                    </select>
                </th>
            </tr>
        <tr>
            <th>Password</th>
            <td>
                <input type="password" required>
            </td>
        </tr>
        <tr>
            <th>Enter Again Password</th>
            <td>
                <input type="password" required>
            </td>
        </tr>
        <tr>
            <th colspan="2">
                <button type="submit">Save</button>
            </th>
        </tr>
    </table>
</body>
</html>